###### Requirements without Version Specifiers ######
pandas
python-dateutil
mongoengine
flask
flask_graphql
flask-cors
redis >= 5, < 6
gunicorn >= 23, < 24
dnspython >= 2, < 3

###### Requirements with Version Specifiers ######
graphql-core == 2.3.2
graphene == 2.1.9
graphene_mongo == 0.2.0
