###### Requirements without Version Specifiers ######
pandas
python-dateutil
mongoengine
flask
flask_graphql
flask-cors

###### Requirements with Version Specifiers ######
graphql-core == 2.2.1
graphe == 2.1.8
graphene_mongo == 0.2.0